scrape_configs:
  - job_name: 'App1testTEST'
    ec2_sd_configs:
      - region: us-west-2
        port: 3000
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        regex: WebServer*
        action: keep
        # Relabel instanceID
      - source_labels: [__meta_ec2_instance_id]
        target_label: instanceID
rule_files:
  - /opt/prometheus/alertRulesApp1.rule